body {
    background-color: lightblue;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.creative {
    display: grid;
    grid-column: auto auto auto;
    margin-left: 25%;
}

.creative span {
    grid-row: 1;
    grid-column: 1;
    justify-content: start;
}

.creative nav {
    display: flex;
    justify-content: space-around;
    grid-row: 1;
    grid-column: 3;
}

h1 {
    grid-row: 2;
    grid-column: 2;
    margin-left: 20%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    margin: 5%;
}

.creative img {
    grid-row: 3;
    grid-column: 2;
}

.brand {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    background-color: white;
    margin-left: 0px;
}

.text {
    display: flex;
    flex-direction: column;
}

.text span,
#text {
    margin-left: 15%;
    margin-right: 15%;
}

.standout {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}

.audience {
    display: flex;
    flex-direction: column;
}

.audience span,
#audience {
    margin-left: 40%;
    margin-top: 15%;
}