body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fraunces';
    font-weight: 900;
}

header {
    background-image: url("images/image-header.jpg");
    background-size: cover;
    height: 100vh;
}

@media screen and (max-width:768px) {
    .rwd:hover .menu nav li {
        display: block;
    }
}

@media screen and (min-width:768px) {
    header nav li {
        display: inline-block;
        margin: 0 15px;
    }

    ul {
        display: flex;
        justify-content: space-around;
    }
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;

}

.creative img {
    width: 100%;
}

.brand {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 0;
    background-color: white;
    width: 100%;
}

.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

.text span,
#text {
    margin-left: 15%;
    margin-right: 15%;
}

.brand img {
    width: 50%;
}

.standout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 0;
    background-color: beige;
    width: 100%;
}

.standout img {
    width: 50%;
}

.audience {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

.audience span,
#audience {
    margin-left: 25%;
}

.graph-photo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 0;
    width: 100%;
}

.graphic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 500px;
    background-image: url("images/image-graphic-design.jpg");
}

.graphic h4,
span {
    margin-bottom: 5%;
}

.photography {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 500px;
    background-image: url("images/image-photography.jpg");
}

.photography h5,
span {
    margin-left: 20%;
}

.client {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    background-color: beige;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-row: 1;
    grid-column: 1/ span 3;
}

.emily {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-row: 2;
    grid-column: 1;
}

.thomas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-row: 2;
    grid-column: 2;
}

.jennie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-row: 2;
    grid-column: 3;
}

.client img {
    margin-left: 50%;
    width: 50px;
    border-radius: 100%;
}

.ads {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    width: 100%;
}

.ads img {
    width: 25%;
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: hsl(168, 34%, 41%);
    padding: 10%;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#title {
    margin-left: 50%;
}